.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Google service account
*service-account.json 


# Relying Party Auth Service
/relying-party-auth-service/build/
/relying-party-auth-service/out/

# Account Service
/account-service/build/
/account-service/out/

# Authentication Device Response Service
/authentication-device-response-service/build/
/authentication-device-response-service/out/

# Webapp
/webapp/build/
/webapp/out/

# Common 
/common/build/
/common/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
